# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints (Autosave system folders)
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Operating System Cache
.DS_Store
Thumbs.db
desktop.ini

# VS Code directory settings & secrets
.vscode/
.env
*.secret